@import url("https://fonts.googleapis.com/css2?family=Zen+Antique&display=swap");

body {
  margin: 50px;
}

/* Footer */

footer {
  background: #eeeeee;
  padding: 10px 0;
  display: grid;
  grid-template-rows: auto auto;
  width: 1440px;
  margin: 0 auto;
}

.logoFooter img {
  height: 250px;
  margin-top: 1rem;
}

.footerList ul {
  list-style-type: none;
}

.footerList ul li {
  padding: 8px;
  font-family: Zen Antique;
}

.footerList ul li a {
  text-decoration: none;
  color: black;
}

.footerList ul li a:hover {
  color: #d11f25;
  text-decoration: underline;
}

footer section {
  padding: 10px;
  margin: 10px;
  align-items: center;
}

footer section #line {
  height: 1px;
  padding: 0;
  background-color: black;
  width: 900px;
}

footer #footer-sec-1 {
  display: grid;
  grid-template-columns: auto auto auto auto;
  text-align: center;
}

footer #footer-sec-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}


/* Detail pages */

header {
  position: relative;
  margin-top: 100px;
  width: 100%;
}

.triangle-left {
  display: inline-block;
  width: 0;
  height: 0;
  border-top: 330px solid transparent;
  border-left: 450px solid #fff6c6;
  border-bottom: 330px solid transparent;
}

.triangle-right {
  position: relative;
  display: inline-block;
  width: 0;
  height: 0;
  top: 100px;
  left: 36%;
  border-top: 330px solid transparent;
  border-right: 450px solid #fff6c6;
  border-bottom: 330px solid transparent;
}

.titleLeft {
  position: relative;
  top: -650px;
  text-align: left;
  margin-left: 50px;
}

.titleRight {
  position: relative;
  top: -650px;
  text-align: right;
  right: -25%;
}

.pLeft {
  position: relative;
  top: -650px;
  margin-left: 50px;
  text-align: left;
}

.pRight {
  position: relative;
  top: -650px;
  text-align: right;
  right: -37%;
}

.positionH2 {
  position: relative;
  top: -500px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.pictureLeftRestaurants {
  position: relative;
  width: 610px;
  height: 481px;
  top: -500px;
}

.subheaderRight {
  position: relative;
  top: -143vh;
  right: -75vh;
}

table,
th,
td {
  border: 2px solid black;
  border-width: 2px;
  border-collapse: collapse;
  padding: 4px;
}

td {
  color: black;
  font-size: 20px;
  font-family: Zen Antique;
  font-weight: 400;
  line-height: 30px;
  word-wrap: break-word;
}

.table-right {
  position: relative;
  top: -160vh;
  right: -140vh;
}

.location img {
  position: relative;
  top: -140vh;
  right: -85vh;
}

.btn-left {
  position: relative;
  top: -75vh;
  right: -95vh;
}

/* Contact page */

form {
  margin: 100px;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px;
}

form h2 {
  position: relative;
}

label {
  display: block;
  margin: 10px 0 5px;
  color: #555;
}

input,
textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input[type="submit"] {
  background-color: #4caf50;
  color: #fff;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

/* Elements style */


.h2Middle {
  left: 50%;
  position: relative;
  top: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
}

.p-middle {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

aside {
  position: relative;
  top: -80px;
}

button {
  align-items: center;
  padding: 10px 20px;
  background-color: rgba(209, 31, 37, 1);
  border-style: solid;
  border-color: rgba(209, 31, 37, 1);
  border-radius: 10px;
  font-size: 20px;
  font-family: DM Sans;
  font-weight: 700;
  line-height: 30px;
  word-wrap: break-word;
  display: inline-block;
}

button a {
  color: white;
  text-decoration: none;
}

button:hover {
  background-color: white;
  border-color: #d11f25;
}

button:hover a {
  color: #d11f25;
}

.cookie {
  flex: 0 1 auto;
  margin-left: auto;
  margin-top: 8px;
  margin-right: 0px;
  margin-bottom: 8px;
  font-size: 1.1em;
  color: black;
  position: fixed;
  border-radius: 13px;
  text-indent: 0px;
  opacity: 50%;
  padding: 8px;
  width: 200px;
  z-index: 9999;
  bottom: 0;
  right: 0;
  background-color: #fff6c6;
  letter-spacing: normal;
  word-spacing: normal;
  line-height: normal;
  text-align: center;
}

/* responsive image and better solution is to use max-width property with auto height*/
img {
  width: 100%;
  height: auto;
}
